/* AKROBAT */

@font-face {
  font-family: 'Akrobat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Regular'), url('./fonts/Akrobat-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Akrobat SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat SemiBold'), url('./fonts/Akrobat-SemiBold.woff') format('woff');
}


@font-face {
  font-family: 'Akrobat Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Bold'), url('./fonts/Akrobat-Bold.woff') format('woff');
}

/* CREDIT CARD */

@font-face {
  font-family: 'Credit Card';
  font-style: normal;
  font-weight: normal;
  src: local('Credit Card'), url('./fonts/CREDC___.otf') format('otf');
}

