/* AKROBAT */

@font-face {
  font-family: 'Akrobat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Regular'), url('./fonts/Akrobat-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Akrobat SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat SemiBold'), url('./fonts/Akrobat-SemiBold.woff') format('woff');
}


@font-face {
  font-family: 'Akrobat Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Bold'), url('./fonts/Akrobat-Bold.woff') format('woff');
}

/* NUNITO */

@font-face {
  font-family: 'Nunito Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Regular'), url('./fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito SemiBold'), url('./fonts/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Bold'), url('./fonts/Nunito-Bold.ttf') format('truetype');
}

/* CREDIT CARD */

@font-face {
  font-family: 'Credit Card';
  font-style: normal;
  font-weight: normal;
  src: local('Credit Card'), url('./fonts/CREDC___.otf') format('otf');
}

